.text-red{
    color: red;
}

body{
    background-image: url(../image/bg/bg_bukiya.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#btn-join, #btn-login, #btn-buy, #btn-logout{
    display: none;
}

#owner{
    margin-top: 150px;
}

#owner-message{
    width: 90%;
    min-width: 300px;
    min-height: 200px;

    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    margin: 0px 10px 10px 20px;
    font-size: 30px;
}

.product-item h1{
    font-size: 1.3em;
    font-weight: bold;
}

/*----- 新規登録ダイアログ -----*/
#dialog-join{
    width: 600px;
    height: 430px;
    padding: 20px;
}
#dialog-join h1{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}
#dialog-join label{
    font-size: 1.1em;
    font-weight: bold;
}
#btn-join-submit{
    width: 100%;
    padding: 10px 20px;
    font-size: 1.2em;
}

/*----- ログインダイアログ -----*/
#dialog-login{
    width: 400px;
    height: 350px;
    padding: 20px;
}
#dialog-login h1{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}
#dialog-login label{
    font-size: 1.1em;
    font-weight: bold;
}
#btn-login-submit{
    width: 100%;
    padding: 10px 20px;
    font-size: 1.2em;
}

/*----- 商品購入ダイアログ -----*/
#dialog-buy{
    width: 410px;
    height: 410px;
    padding: 20px;
    text-align: center;
}
#dialog-buy h1{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}
#dialog-buy .product-name{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
}
#btn-buy-submit button{
    width: 100%;
    padding: 10px 20px;
    font-size: 1.2em;
}