.text-red{
    color: red;
}

body{
    background-image: url(../image/bg/bg_bukiya.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#owner{
    margin-top: 150px;
}

#owner-message{
    width: 90%;
    min-width: 300px;
    min-height: 200px;

    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    margin: 0px 10px 10px 20px;
    font-size: 30px;
}

.product-item h1{
    font-size: 1.3em;
    font-weight: bold;
}

#dialog-join{
    width: 600px;
    height: 430px;
    padding: 20px;
}
#dialog-join h1{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}
#dialog label{
    font-size: 1.2em;
    font-weight: bold;
}
#btn-join-submit{
    width: 100%;
    padding: 10px 20px;
    font-size: 1.2em;
}